<table class="table table-fixed" id="puppet_klasses_parameters_table">
  <thead class="white-header">
    <tr>
      <th class='col-md-3'><%= _('Puppet Class') %></th>
      <th class='col-md-3'><%= _('Name') %></th>
      <th class='col-md-5'><%= _('Value') %></th>
      <th class='col-md-1 ca'><%= _("Omit") %>&nbsp;<%= omit_help %></th>
    </tr>
  </thead>
  <tbody>
  <%= render  partial: 'foreman_puppet_enc/puppetclasses/class_parameters',
              collection: puppetclasses_with_parameters_for(obj.puppet),
              as: :puppetclass,
              locals: { obj: obj } %>
  </tbody>
</table>
